<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nh</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/bootstrap/respond.min.js"></script>
    <script src="js/bootstrap/html5shiv.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="page-index">
    <div class="container" id="container">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
